{% extends 'layout.twig' %}

{% block body %}
  <main class="container">
    <h1>Paramètre</h1>
    
    <form id="formElement" class="row row-cols-lg-auto g-3 align-items-center mb-2">
      <div class="col-10">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Nouvel élément</label>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Manger un chocolat">
      </div>
    
      <div class="col-2">
        <button type="submit" class="btn btn-primary">Yes !</button>
      </div>
    </form>
  
    <ul id="preview"></ul>
    
    <a class="d-block mt-4 text-center" href="/home">Retour à ma liste</a>
  </main>
{% endblock %}
