{% extends 'layout.twig' %}

{% block body %}
  <main class="container">
    <h1 class="connectedTitle">Paramètres</h1>
    
    <form id="formElement">
      <div class="formElement-input">
        <label for="inlineFormInputGroupUsername">Nouvel élément à surveiller :</label>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="">
      </div>
      
      <button type="submit" class="btn btn-primary">Yes !</button>
    </form>
  
    <ul id="preview"></ul>
    
    <p class="more-link mt-5"><a href="/home"><i class="material-icons-outlined material-icons-sm">receipt_long</i>Retour à ma liste</a></p>
  </main>
{% endblock %}
