{% extends 'layout.twig' %}

{% block body %}
  <main class="container">
    <h1>Paramètre</h1>
    
    <ul id="preview"></ul>
    <form id="formBase">
      <div class="mb-3">
        <label for="inputElementCategory" class="form-label">Elements</label>
        <select id="inputElementCategory" class="form-select" multiple="multiple"></select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <a href="/home">Retour à ma liste</a>
  </main>
{% endblock %}
