{% extends 'layout.twig' %}

{% block body %}
  <main class="container">
    <section>
      <h1 class="connectedTitle">Détail : <span></span></h1>
      
      <ul id="viewDetail"></ul>
    </section>
    <p class="more-link"><a href="/admin">Paramètres</a></p>
  </main>
{% endblock %}
