{% extends 'layout.twig' %}

{% block body %}
  <main class="container">
    <section>
      <h1 class="connectedTitle">Hello <span>friend.</span></h1>
  
      <div class="tabTime">
        <button class="tabTime-button active" data-time="week">Cette semaine</button>
        <button class="tabTime-button" data-time="month">Ce mois</button>
      </div>
      
      <ul id="view"></ul>
  
      <p class="more-link"><a href="/admin"><i class="material-icons-outlined material-icons-sm">add_box</i>Ajouter des élements</a></p>
    </section>
    
    <div id="installApp">
      <p>Avoir <i>Yeees!</i> directement en raccourcis sur votre téléphone.</p>
      <div>
        <button class="notinstall">pas maintenant</button>
        <button class="install">Installer</button>
      </div>
    </div>
  </main>
{% endblock %}
