{% extends 'layout.twig' %}

{% block body %}
  <main class="container">
    <section>
      <h1 class="connectedTitle">Hello <span>friend.</span></h1>
  
      <div class="tabTime">
        <button class="tabTime-button active" data-time="week">Cette semaine</button>
        <button class="tabTime-button" data-time="month">Ce mois</button>
      </div>
      
      <ul id="view"></ul>
    </section>
    <p class="more-link"><a href="/admin">Paramètres</a></p>
  </main>
{% endblock %}
