{% extends 'layout.twig' %}

{% block body %}
  <main class="container">
    <section>
      <h1>Objectifs</h1>
      <ul id="view"></ul>
    </section>
    <p><a href="/admin">Paramètres</a></p>
  </main>
{% endblock %}
