{% extends 'layout.twig' %}

{% block body %}
    <main class="container-md">
        <form id="createAccount">
            <div class="mb-3">
                <label for="pseudoInput" class="form-label">Pseudo</label>
                <input type="text" class="form-control" id="pseudoInput" maxlength="22">
                <div id="pseudoHelp" class="form-text">Ceci est votre nom d'utilisateur que vous devrez renseigner pour retrouver votre liste</div>
            </div>
            <button type="submit" class="btn btn-primary">C'est parti !</button>
        </form>
    </main>
{% endblock %}
