{% extends 'layout.twig' %}

{% block body %}
  <main class="container">
    <section>
      <h1>Title</h1>
      <ul id="view"></ul>
    </section>
    <p><a href="/admin">Paramètre</a></p>
  </main>
{% endblock %}
