<!DOCTYPE html>
<html>
  <head>
    <title>Yeees ! L'application idéale pour maîtriser la fin de l'abondance</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta name="theme-color" content="#BA031F">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <meta name="application-name" content="Chef">
    <meta name="apple-mobile-web-app-status-bar-style" content="red">
    <meta name="apple-mobile-web-app-title" content="Yeees!">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileColor" content="#fff">
    <link rel="manifest" href="manifest.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Pacifico&display=swap" rel="stylesheet">
  </head>
  <body class="{% block bodyCssClass %}{% endblock %}">
    {% block body %}{% endblock %}
    <script type="text/javascript" src="/{{ appJSFile }}"></script>
    <script>
      if ('serviceWorker' in navigator) {
        console.log("Will the service worker register?");
        navigator.serviceWorker.register('/service-worker.js')
          .then(function(reg){
            console.log("Yes, it did.");
          }).catch(function(err) {
            console.log("serviceWorker error: ", err)
        });
      }
    </script>
  </body>
</html>
