<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta name="theme-color" content="#6143E2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  </head>
  <body>
    {% block body %}{% endblock %}
    <script type="text/javascript" src="{{ appJSFile }}"></script>
  </body>
</html>
