.connectedTitle {
  text-align: center;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2.4rem;
  color: #c9d1d9;
}

#view {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border: 1px solid #30363d;
    background: #161b22;
    border-radius: 0.4rem;
    padding: 0.8rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;

    & > span {
      display: flex;
      align-items: center;
    }

    button {
      border: 1px solid #30363d;
      color: #BA031F;
      padding: 0.2rem 1rem;
      font-weight: bold;
      border-radius: 0.2rem;
      background-color: #21262d;

      &.minus {
        margin-right: 0.6rem;
      }
      &.add {
        font-size: 2rem;
      }
    }

    .viewTitle {
      line-height: 1;
      display: inline-block;
      font-size: 1.4rem;
      text-decoration: none;
      color: #c9d1d9;
    }

    .number {
      font-size: 1.6rem;
      //background-color: #BA031F;
      background-color: #238636;
      color: #fff;
      border-radius: 2rem;
      min-width: 4rem;
      display: inline-block;
      height: 2.2rem;
      text-align: center;
      font-weight: 600;
      margin: 0 0.4rem;
      line-height: 1.3;
    }
  }
}

.tabTime {
  border-bottom: 0.1rem solid #30363d;
  margin-bottom: 2.4rem;

  button {
    color: #c9d1d9;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-right: 2rem;

    &.active {
      font-weight: 600;
      border-bottom-style: solid;
      border-bottom-color: #f78166;
      border-bottom-width: 0.3rem;
    }
  }
}
.more-link {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0d1117;

  a {
    color: #58a6ff;
  }
}

#preview {
  list-style: none;
  padding: 0;
  margin-top: 2.4rem;

  li {
    margin-bottom: 1.2rem;
  }

  button {
    color: #BA031F;
    margin-left: 0.8rem;
  }
}

#formElement {
  display: flex;
  align-items: end;
}

.formElement-input {
  flex-grow: 1;
  margin-right: 0.8rem;

  label {
    font-size: 1.4rem;
  }
}