.page--home {
  padding: 0 2.4rem;
}

.mainTitle {
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: 'Pacifico', cursive;
  color: #fff;
}

.mainSubtitle {
  text-align: center;
  color: $gray-400;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}